*{
    font-family: Arial, Helvetica, sans-serif;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("/templates/css/WhatsApp\ Image\ 2024-05-06\ at\ 11.07.11\ PM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}
.cntr{
    background-color: #a15858;
    position: absolute;
    height: 200px;
    width: 525px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.insidediv{
    margin: 40px;
    
}
.styl{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#btn{
    background-color: #19dede; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}